.About {
  display: flex;
  align-items: center;
}

.Callout {
  text-decoration: none;
  color: white;
}

.Text {
  font-size: 1em;
  text-decoration: none;
  width: 35%;
  height: 50%;
  color: white;
  margin-top: 50px;
}

.Name {
  font-size: 3.2em;
  color: white;
}