.card {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 10px;
  position: relative;
  z-index: 1;
}

.card-title {
  margin: 0;
  font-size: 20px;
  color: #372773;
}

.card:hover {
  transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: var(--neon-hover);
}

.Card-list {
  display: flex;
  flex-wrap: wrap; /* Permitir que os cards sejam quebrados em várias linhas */
  gap: 20px; /* Adicionar espaçamento entre os cards */
}