.timeline {
  position: relative;
  color: white;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50px;
  top: 0;
  bottom: 0;
  width: 4px;
  background: var(--neon-color);
}

.timeline-event {
  position: relative;
  margin-left: 100px;
  margin-bottom: 20px;
  padding: 20px;
  background: #1a2b3c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  position: relative;
  margin-left: 100px;
  padding-left: 20px;
}

.timeline-event::before {
  content: '';
  position: absolute;
  left: -34px;
  top: 20px;
  width: 20px;
  height: 20px;
  background: var(--neon-color);
  border-radius: 50%;
  box-shadow: var(--neon-shadow);
}

.timeline-title {
  font-size: 1.5em;
  margin: 0;
}

.timeline-description {
  font-size: 1em;
  margin: 5px 0 0 0;
}

.timeline-content h3 {
  margin: 0;
  font-size: 1.5em;
  color: white;
}

.timeline-content p {
  margin: 10px 0 0;
  font-size: 1em;
  color: #ccc;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 5px;
  margin-top: 5px;
  color: var(--neon-color);
}