@font-face {
  font-family: 'PT';
  src: url('/public/fonts/PTSerif-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --neon-color: #9D00FF;
  --neon-color-hover: #7A00CC;
  --neon-shadow: 0 0 5px #9D00FF, 0 0 20px #9D00FF, 0 0 40px #9D00FF, 0 0 80px #9D00FF;
  --neon-hover: 0 0 5px #7A00CC, 0 0 20px #7A00CC, 0 0 40px #7A00CC, 0 0 80px #7A00CC;
}

body {
  margin: 100px;
  background-color: #0b1825;
}

.Highlight {
  color: var(--neon-color);
  text-shadow: var(--neon-shadow);
}

.Highlight:hover {
  color: var(--neon-color-hover);
  text-shadow: var(--neon-hover);
}